<%- include("partials/header") -%>

<h1>Home</h1>
<p><%= homeStartingContent %></p>

<% posts.forEach(function(set){ %>
  <h1><%= set.title %></h1>
  <p><%= set.content %></p>
  <% }) %> <%- include("partials/footer") -%>
</posts.length;>
